.city-selector-wrapper * {
  box-sizing: border-box;
}
.city-selector-wrapper {
  position: relative;
  /* width: 100%; */
  height: 100%;
}
.city-selector-wrapper input {
  background: none;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.city-selector-wrapper input:focus {
  background: white;
  outline: none;
  border: 1px solid #9fa6ad;
}
.city-selector-wrapper .city-selector-toggle-textbox {
  width: 100%;
  height: 100%;
  border: 1px solid #dbdbdb;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 10px;
  -webkit-tap-highlight-color: transparent;
  padding-right: 50px;
}
.city-selector-wrapper .city-selector-toggle-textbox:hover,
.city-selector-wrapper .city-selector-search-input:hover {
  border: 1px solid #9fa6ad;
}
.city-selector-wrapper *::-webkit-scrollbar {
  display: none;
}
.city-selector-wrapper * {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.city-selector-wrapper .city-selector-dropdown-wrapper {
  position: absolute;
  width: 220px;
  z-index: 10;
  overflow: scroll;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: 0 0 5px #dbdbdb;
  background-color: #fff;
  padding: 10px 0;
  top: 0;
  left: 0;
}
.city-selector-wrapper
  .city-selector-search-wrapper
  .city-selector-search-input-wrapper {
  position: relative;
  padding: 0 10px;
  height: 35px;
}
.city-selector-wrapper
  .city-selector-search-wrapper
  .city-selector-search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.city-selector-wrapper
  .city-selector-search-wrapper
  .city-selector-search-input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 0.9em;
  padding-left: 20px;
  border: 1px solid #dbdbdb;
}
.city-selector-wrapper
  .city-selector-dropdown-wrapper
  .city-selector-options-wrapper {
  display: flex;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}
.city-selector-wrapper
  .city-selector-dropdown-wrapper
  .city-selector-options-wrapper
  .city-selector-searched-list {
  width: 100%;
  max-height: 130px;
  overflow-y: scroll;
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
}
.text-blue {
  color: blue;
}
.city-selector-wrapper
  .city-selector-dropdown-wrapper
  .city-selector-options-wrapper
  .city-selector-searched-list
  .city-selector-search-item {
  font-size: 0.9em;
  padding: 5px 0;
}

.city-selector-wrapper
  .city-selector-dropdown-wrapper
  .city-selector-options-wrapper
  .city-selector-province,
.city-selector-wrapper
  .city-selector-dropdown-wrapper
  .city-selector-options-wrapper
  .city-selector-city {
  width: 50%;
  max-height: 140px;
  overflow-y: scroll;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 10px;
}
.city-selector-wrapper
  .city-selector-dropdown-wrapper
  .city-selector-options-wrapper
  .city-selector-province
  div,
.city-selector-wrapper
  .city-selector-dropdown-wrapper
  .city-selector-options-wrapper
  .city-selector-city
  div {
  position: relative;
  padding: 9px 20px;
  text-align: center;
}
.city-selector-wrapper
  .city-selector-dropdown-wrapper
  .city-selector-options-wrapper
  .city-selector-province
  .city-selector-item:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(-45deg);
  border-right: 1px solid #9fa6ad;
  border-bottom: 1px solid #9fa6ad;
}
@media (hover: hover) and (pointer: fine) {
  .city-selector-wrapper
    .city-selector-dropdown-wrapper
    .city-selector-options-wrapper
    .city-selector-item:hover {
    color: black;
    font-wight: 500;
    background-color: #f7f7f7;
  }
}

.city-selector-wrapper .selected {
  color: black;
  font-weight: 500;
  background-color: #f7f7f7;
}
.city-selector-wrapper .city-selector-toggle-textbox-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.city-selector-wrapper .city-selector-toggle-textbox-wrapper::after {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  top: 50%;
  right: 15px;
  transform: translateY(-77%) rotate(45deg);
  border-right: 1px solid #9fa6ad;
  border-bottom: 1px solid #9fa6ad;
}
.city-selector-wrapper
  .city-selector-toggle-textbox-wrapper
  .city-selector-delete-icon {
  position: absolute;
  color: #9fa6ad;
  top: 50%;
  transform: translateY(-55%);
  right: 33px;
  font-size: 1em;
  cursor: pointer;
}
.city-selector-mini {
  font-size: 11px;
}
.city-selector-tiny {
  font-size: 12px;
}
.city-selector-small {
  font-size: 13px;
}
.city-selector-medium {
  font-size: 14px;
}
.city-selector-large {
  font-size: 16px;
}
.city-selector-big {
  font-size: 18px;
}
.city-selector-huge {
  font-size: 20px;
}
.city-selector-massive {
  font-size: 24px;
}
